@charset "UTF-8";
/* CSS Document */
*{box-sizing: border-box}*
body{
	width: 100%;height: auto;background-color: white;font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";font-size: 16px; color: #666666;margin: 0;
}
main{
	padding: 10px 20px;
}

.img-100{
	width: 27%;height: 27%
}
.container{
	width: 100%; margin: auto
}
header{
	width: 100%;height: auto;background-color:#F0292D ;position: absolute;left: 0;top: 120;z-index: 50
}

body ul{
	margin: 0;padding: 0;list-style: none;display: flex
}
.d-flex{
	display: flex
}
.justify-center{
	justify-content: center
}
.justify-around{
	justify-content: space-around
}
.justify-between{
	justify-content: space-between
}
.lien-he{
	float: right;padding-top: 20px;display: flex
}
.logo{
	height: 40px;width: 40px;float: left;padding: 0px 50px
}
.thong-tin li{
	font-size: 12px;font-weight: bold ;width: 100%;float: right;padding: 10px 10px
}
.vien{
	border-right: 1px solid #8F8C8C; border-right-width: 0,5px;height:60px;padding: 10px 10px
}
.thong-tin li a{
	text-decoration:none;font-size: 15px
}
.chu-1{
	color: red ;text-decoration: none;font-size: 20px;text-transform: uppercase
}
.logo-1{
	padding: 4px 10px 
}
.vien-1{
	border-right: 0px solid #8F8C8C; border-right-width: 1px;height:50px;padding: 0px 0px
}
.menu ul{
	margin: 0; padding: 0; list-style: none;display: flex
}
.menu ul li a{
	text-decoration: none;padding: 20px 20px; font-size: 17px; text-transform: uppercase;color:rgba(255,255,255,1.00);border-radius: 20px;display: block
}
.menu ul li a:hover{
	background-color: rgba(128,128,128,1.00) ; color: black;
}
.menu ul li{
	position: relative;
}
.sub-li a{
	color: black;
}
.menu .sub-li{
	position: absolute;left: 0; top: 100%;display: flex;flex-direction: column;width: 200px;height: auto;opacity: 0;background-color: red
}
.menu li:hover .sub-li{
	opacity: 1
}
.banner{
	padding-bottom: 50px
}
/*CAROSEL*/
#slide .owl-dots{ position:absolute; bottom: 100px; left:40%;}

#slide .owl-dots .owl-dot span {

	 width: 100px;
	height: 10px;

}
#slide .owl-nav { position:absolute; left:0px; top:40%; width:100%; }

#slide .owl-nav [class*='owl-'] {

	font-size:60px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: white
 
}

#slide.owl-nav .owl-next{ position:absolute; right:5%;}

#slide.owl-nav .owl-prev{ position:absolute; left:5%;}

#slide.owl-nav [class*='owl-']:hover {

	background:none;border: none;
	color:black;
	text-decoration: none; }
/*xong carocel*/
.container-2{
		width: 100%; margin: auto; background-color:grey
}
.container-2 .menu ul :hover{
	background-color: white;border-radius: 20px
}
.img-300{
	width: 100%;height: auto
}
.vien-3{
	width: 100%; min-height: 200px;border: 1px solid rgba(0,0,0,1.00); border-radius: 10px;padding: 10px;text-align: center ;margin: 30px 0
}
.bo-goc{
	border-radius: 10px
}
.tour{
	font-size: 18px; color: black;text-transform: uppercase
}
.gia{
	color: red; font-weigh: bold
}
.W-25{
	width: 25%; padding: 15px; float: left
}
.w-40{
	width: 40%;padding: 15px; float:left
}
.W-60 {
	width: 60%;padding: 15px; float:right
}
.text-xanh{
	color: blue
}
.vien-xam{
	border: 1px solid white ;border-radius: 10px;margin-top: 30px;padding: 10px
}
.container-3{
		width: 100%; margin: auto; background-color:white
}
.menu-1{
	background-color: gray;border-radius: 20px
}
.menu-1 ul{
	margin: 0; padding: 0; list-style: none;display: flex
}
.menu-1 ul li a{
	text-decoration: none;padding: 20px 20px; font-size: 17px; text-transform: uppercase;color:white;border-radius: 20px;display: block
}
.menu-1 ul li a:hover{
	background-color:gray; color: black;
}
.menu-1 ul li{
	position: relative;
}
.sub-li a{
	color: black;
}
.container-4{
	width: 100%; margin: auto; background-color:black
}
.menu-2{
	padding-top: 15px
}
.menu-2 ul{
	margin: 0;padding: 0;list-style: none;display: flex
}
.menu-2 ul li a{
	padding: 20px 30px;font-size: 40px;text-decoration: none;text-transform: uppercase;color: white;border-bottom: medium rgba(255,0,0,1.00)
}
.tour{
	padding: 10px 20px;font-size: 15px;text-decoration: none;text-transform: uppercas
}
.tour:hover{
	color: red;
}
.menu-3{
	padding-top: 15px
}
.menu-3 ul{
	margin: 0; padding: 0; list-style: none;display: flex
}
.menu-3 ul li a{
	text-decoration:overline;padding: 10px 20px; font-size: 25px; text-transform: uppercase;color:red;
}
.menu-3 ul li a:hover{
	background-color: rgba(128,128,128,1.00) ; color: black;
}
.container-6{
	background: rgba(0,0,0,1.00); 
}
footer{
	width: 100%;min-height: 200px;background-color: black
}
.bg-xanh{
	background-color: black;
}
footer .lg{
	text-decoration: none;font-size: 18px;font-weight: bold;color: #3E3E3E
}
footer .lg:hover{
	color: darkred
}
footer a{
	color: #3D3D3D;margin-right: 5px
}
footer a:hover{
	color: darkred
}
footer ul{
	margin: 0;padding: 0;list-style: none;display: flex;flex-direction: column
}
footer ul li a{
	padding: 10px;display: block;text-decoration: none
}

